@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,300&display=swap");
/* TopNav */
.navbar {
  background-color: #0a2f35;
}
.navbar-brand {
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  color: #ffca7a;
  transition: all 0.8s;
}
.navbar-brand:hover {
  font-family: "Roboto Mono", monospace;
  color: #ffca7a;
  letter-spacing: 10px;
}
.nav-link {
  font-size: 1.2rem;
  margin-right: 10px;
  border-radius: 10px;
  font-family: "Roboto Mono", monospace;
  color: #ffe2b7 !important;
  transition: all 0.5s;
}
.nav-link:hover {
  background-color: #0f444d;
  -webkit-box-shadow: 5px 5px 0px 0px #f56038;
  box-shadow: 5px 5px 0px 0px #f56038;
  color: #f7a325 !important;
}
.nav-link.active {
  background-color: #0f444d;
  -webkit-box-shadow: 5px 5px 0px 0px #f56038;
  box-shadow: 5px 5px 0px 0px #f56038;
  color: #f7a325 !important;
  color: #f7a325 !important;
}
.logout {
  border: 1px solid #f56038;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: "Roboto Mono", monospace;
  color: #f56038 !important;
  transition: all 0.5s;
}
.logout:hover {
  background-color: #0f444d;
  font-family: "Roboto Mono", monospace;
  color: #f56038 !important;
  transition: all 0.5s;
}
/* LoginFrom */
.login-card {
  width: 400px !important;
}
/* Home */
.welcome-title h2 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  color: #ffca7a;
}
.container-button-home div {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  height: 200px;
  background-color: #ffca7a;
  border-radius: 10px;
  border: 4px solid #f7a325;
  color: #12492f;
  font-size: 3rem;
  font-weight: 600;
  transition: all 0.5s;
}
.container-button-home div:hover {
  font-family: "Roboto Mono", monospace;
  height: 200px;
  background-color: #f7a325;
  border-radius: 10px;
  border: 4px solid #ffca7a;
  color: #12492f;
  font-size: 3rem;
  font-weight: 600;
}
.box-description {
  margin-top: 40px;
}
h3 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  color: #ffca7a;
}
.box-description p {
  font-size: 1.4rem;
  color: #ffe2b7;
}
.box-credit p {
  font-size: 1.4rem;
  color: #ffe2b7;
}
/* Product Page */
